<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jt.exg.logic.advertisements.IAdvertisements" >
	<resultMap type="AdvertisementsBean" id="resultAdvertisementsList">
		<id column="Id" property="id"/>
		
<result column="Name" property="name"/>
<result column="Targetkey" property="targetkey"/>
<result column="Top_pic1" property="top_pic1"/>
<result column="Url" property="url"/>
<result column="Category" property="category"/>
<result column="Display" property="display"/>
<result column="Invalid" property="invalid"/>
<result column="Register_time" property="register_time"/>
<result column="Update_time" property="update_time"/>
	</resultMap>
	
	<!-- 全记录 useCache使用二级缓存开关 -->
	<select id="findByAll" resultMap="resultAdvertisementsList" useCache="false">
		select * from advertisements
	</select>
	
	<!-- 全记录数量 useCache使用二级缓存开关  -->
	<select id="findByAllCount" resultType="Long" useCache="false">
		select count(1) from advertisements
	</select>
	
	<!-- 根据主键查询记录 useCache使用二级缓存开关  -->
	<select id="findByKey" parameterType="String" resultType="AdvertisementsBean" useCache="false">
		select * from advertisements where id=#{id}
	</select>
	
	<!-- 根据条件查询 useCache使用二级缓存开关  -->
	<select id="finder" parameterType="String" resultMap="resultAdvertisementsList" useCache="false">
		${sql}
	</select>
	
	<!-- 查询条件记录数量 useCache使用二级缓存开关  -->
	<select id="finderCount" resultType="Long" useCache="false">
		${sql}
	</select>
	
	<!-- 根据主键删除记录 -->
	<delete id="deleteByKey" parameterType="String">
    	delete from advertisements where id=#{id}
	</delete>
	
	<!-- 根据主键批量删除记录 -->
	<select id="deleteByKeys" parameterType="List">
         delete from advertisements where id in
         <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
             #{item}
         </foreach>
	</select>
	
	<!-- 根据主键更新记录 -->
	<update id="updateByKey" parameterType="AdvertisementsBean">
	    update advertisements <set >
<if test="name!=null">name=#{name},</if>
<!-- <if test="targetkey!=null">targetkey=#{targetkey},</if> -->
<if test="top_pic1!=null">top_pic1=#{top_pic1},</if>
<if test="url!=null">url=#{url},</if>
<!-- <if test="category!=null">category=#{category},</if> -->
<if test="display!=null">display=#{display},</if>
<if test="invalid!=null">invalid=#{invalid},</if>
<if test="register_time!=null">register_time=#{register_time},</if>
<if test="update_time!=null">update_time=#{update_time},</if>
	    </set> where id=#{id}
	</update>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="AdvertisementsBean">
		insert into advertisements
	    <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">id,</if>
<if test="name!=null">name,</if>
<!-- <if test="targetkey!=null">targetkey,</if> -->
<if test="top_pic1!=null">top_pic1,</if>
<if test="url!=null">url,</if>
<!-- <if test="category!=null">category,</if> -->
<if test="display!=null">display,</if>
<if test="invalid!=null">invalid,</if>
<if test="register_time!=null">register_time,</if>
<if test="update_time!=null">update_time,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id!=null">#{id},</if>
<if test="name!=null">#{name},</if>
<!-- <if test="targetkey!=null">#{targetkey},</if> -->
<if test="top_pic1!=null">#{top_pic1},</if>
<if test="url!=null">#{url},</if>
<!-- <if test="category!=null">#{category},</if> -->
<if test="display!=null">#{display},</if>
<if test="invalid!=null">#{invalid},</if>
<if test="register_time!=null">#{register_time},</if>
<if test="update_time!=null">#{update_time},</if>
	    </trim>
	  </insert>
</mapper>