<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jt.exg.logic.v_order_task.IV_order_task" >
	<resultMap type="V_order_taskBean" id="resultV_order_taskList">
		<id column="Id" property="id"/>
		
<result column="Taskkey" property="taskkey"/>
<result column="Orderkey" property="orderkey"/>
<result column="Invalid" property="invalid"/>
<result column="Register_time" property="register_time"/>
<result column="Update_time" property="update_time"/>
<result column="Req_name" property="req_name"/>
<result column="Req_id" property="req_id"/>
<result column="User_id" property="user_id"/>
<result column="User_name" property="user_name"/>
	</resultMap>
	
	<!-- 全记录 useCache使用二级缓存开关 -->
	<select id="findByAll" resultMap="resultV_order_taskList" useCache="false">
		select * from v_order_task
	</select>
	
	<!-- 全记录数量 useCache使用二级缓存开关  -->
	<select id="findByAllCount" resultType="Long" useCache="false">
		select count(1) from v_order_task
	</select>
	
	<!-- 根据主键查询记录 useCache使用二级缓存开关  -->
	<select id="findByKey" parameterType="String" resultType="V_order_taskBean" useCache="false">
		select * from v_order_task where id=#{id}
	</select>
	
	<!-- 根据条件查询 useCache使用二级缓存开关  -->
	<select id="finder" parameterType="String" resultMap="resultV_order_taskList" useCache="false">
		${sql}
	</select>
	
	<!-- 查询条件记录数量 useCache使用二级缓存开关  -->
	<select id="finderCount" resultType="Long" useCache="false">
		${sql}
	</select>
	
	<!-- 根据主键删除记录 -->
	<delete id="deleteByKey" parameterType="String">
    	delete from v_order_task where id=#{id}
	</delete>
	
	<!-- 根据主键批量删除记录 -->
	<select id="deleteByKeys" parameterType="List">
         delete from v_order_task where id in
         <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
             #{item}
         </foreach>
	</select>
	
	<!-- 根据主键更新记录 -->
	<update id="updateByKey" parameterType="V_order_taskBean">
	    update v_order_task <set >
		<if test="taskkey!=null">taskkey=#{taskkey},</if>
<if test="orderkey!=null">orderkey=#{orderkey},</if>
<if test="invalid!=null">invalid=#{invalid},</if>
<if test="register_time!=null">register_time=#{register_time},</if>
<if test="update_time!=null">update_time=#{update_time},</if>
<if test="req_name!=null">req_name=#{req_name},</if>
<if test="req_id!=null">req_id=#{req_id},</if>
<if test="user_id!=null">user_id=#{user_id},</if>
<if test="user_name!=null">user_name=#{user_name},</if>
	    </set> where id=#{id}
	</update>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="V_order_taskBean">
		insert into v_order_task
	    <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">id,</if>
<if test="taskkey!=null">taskkey,</if>
<if test="orderkey!=null">orderkey,</if>
<if test="invalid!=null">invalid,</if>
<if test="register_time!=null">register_time,</if>
<if test="update_time!=null">update_time,</if>
<if test="req_name!=null">req_name,</if>
<if test="req_id!=null">req_id,</if>
<if test="user_id!=null">user_id,</if>
<if test="user_name!=null">user_name,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id!=null">#{id},</if>
<if test="taskkey!=null">#{taskkey},</if>
<if test="orderkey!=null">#{orderkey},</if>
<if test="invalid!=null">#{invalid},</if>
<if test="register_time!=null">#{register_time},</if>
<if test="update_time!=null">#{update_time},</if>
<if test="req_name!=null">#{req_name},</if>
<if test="req_id!=null">#{req_id},</if>
<if test="user_id!=null">#{user_id},</if>
<if test="user_name!=null">#{user_name},</if>
	    </trim>
	  </insert>
</mapper>